<div class="hero-unit center">
	<h1>Welcome to Chunkterest!</h1>
		<p>You've found the home page for 
			<%= link_to "Chunkterest","#" %>.
		</p>

		<% if user_signed_in? %>

		<% else %>
			<p>
				<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-large" %>
				<%= link_to "Sign up!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			<p>
		<% end %>
</div>

