<div class="hero-unit">
	<h1>Welcome to Chunkterest!</h1>
		<p>You've found the home page for 
			<%= link_to "Chunkterest","#" %>.
		</p>
		<p>
			<%= link_to "Join today!", "#", class: "btn btn-primary btn-large" %>
		<p>
</div>

